@model IEnumerable<OutilsActualisation.AppData.ModeleTaxonomique>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    #region Check
    string Check = "ok";
    string NotCheck = "remove";
    string Red = "red";
    string Green = "green";
    #endregion Check
}


<h2 style="margin-left:5%;">Liste des modèles taxonomiques<span style="float:right; margin-right: calc(5% + 3px);" class="btn btn-success" onclick="AjaxFill('/Admin/Taxonomie_Create', '#ModalContainer', false);">Créer un nouveau modèle taxonomique</span></h2>

@if (Model.Count() == 0)
{
    <br />
    <br />
    <br />
    <br />
    <p style="font-weight:bold; font-size:20px; text-align:center;">Aucun modèle taxonomique...</p>
    <br />
}
else
{
    <table class="tableD">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreation)
                    </td>
                    <td>
                        <span style="color:@if (item.IsAvailable.Value) { @Green } else { @Red }; font-size:15px;" class="glyphicon glyphicon-@if (item.IsAvailable.Value) { @Check } else { @NotCheck }"></span>
                    </td>
                    <td style="padding-left:0; padding-right:0; width: 352px;">
                        <span class="btn btn-primary" onclick="AjaxFill('/Admin/NiveauTaxonomique?id=@item.Nom', '#ModalContainer', true);"><span style="margin-right:7px;" class="glyphicon glyphicon-eye-open"></span>Voir niveaux</span>
                        <span class="btn btn-warning" onclick="AjaxFill('/Admin/Taxonomie_Update?id=@item.Nom', '#ModalContainer', true);"><span style="margin-right:7px;" class="glyphicon glyphicon-pencil"></span>Modifier</span>
                        <a class="btn btn-danger" data-ajax-url="/Admin/Taxonomie_Delete?id=@item.Nom" data-ajax="true" data-ajax-method="POST" data-ajax-success="location.reload();" data-ajax-failure="Alert('error', xhr.responseText)"><span style="margin-right:7px;" class="glyphicon glyphicon-trash"></span>Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}

